.container-flex .content{
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.container-flex .content .content1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right:35px;
}
.container-flex .content .content2{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left:35px;
}
.container-flex .bg{
    background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.Service-item {
    width: 1200px;
    height: auto;
    border-radius: 5px;
}
.Service-item .img{
    width: 100%;
    height: auto;
}
.Service-item .img img{
    border-radius:5px;
    width: 100%;
    height: auto;
}

.Service-item .text {
    color: var(--fifth-color);
    padding: 5px 25px 25px;
}

.Service{
    justify-items: center;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
}
