header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.095) 100%);
    position: fixed;
    width: 100%;
    /* padding: 0 40px; */
}

header .nav-bar{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    justify-content: space-between; /* space-between hiển thị các mục flex có khoảng cách giữa các dòng */
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.095);
    position: absolute;
    z-index: 1;
    padding: 0%;
    height: 90px;
}
header .nav-bar .logo{
    box-sizing: border-box;
    align-items: center; /* center căn chỉnh các mục flex vào giữa vùng chứa */
    justify-content: flex-start;  /* centertrị căn chỉnh các mục flex vào giữa vùng chứa */
    max-width: 265px;
    min-width: 84px;
    width: 100%;
    height: auto;
    
}
header .nav-bar .logo img{
    max-width: 265px;
    width: 100%;
    height: auto;
    object-fit: contain;
    justify-content: center; 
    margin-left: 60%;
}
.header .navbar .top-right{
    padding: 0 40px;
    box-sizing: border-box;  
    margin-left: auto;
    width: calc(100% - 265px);
    flex-direction: column;
    display: flex;  
    justify-content: flex-end; /* flex-end căn chỉnh các mục flex ở cuối vùng chứa */
}
.top-right .sign-in{
    white-space: nowrap;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    padding-right: 10px;
    position: relative;
    margin-top: 20px;
}
.top-right .sign-in .hotro{
    display: inline-flex;
    gap: 8px;
}
.top-right .sign-in .hotro span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .language-switcher button {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255); /* Độ dày 2px, kiểu solid */
    border-radius: 4px;
    font-size: 15px;
    padding: 1px 7px 0px 7px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
    margin-right: 170px;
}
.top-right .sign-in .language-switcher button:hover{
    
    background-color:rgba(0, 0, 0, 0.095);
}
.top-right .sign-in .language-switcher button span{
    display: flex;
    align-items: center;
    gap : 5px;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .bar button {
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    padding: 10px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
}
header .navbar .top-right .menu{
    display: flex;
    margin-right: 0;
    padding-right: 0;
    position: relative;
    margin-top: 0%;

}
.menu ul{
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    transition: 0.53s;
    margin-top: 0px;
    margin-right: 140px;
    
}
.menu ul li{
    display: block;
    min-height: 20px;
    padding: 4px 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    justify-content: space-between;
    font-size: 15px;
}
header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .35s;
    text-overflow: ellipsis;
    font-weight: 600;
    display:block;
    padding: 10px;
    
}
header .menu a:hover{
    background-color: white;
    color: red;
    border-radius: 10px;
}
header{
    position: relative;
}

.DatVe{
    position: absolute;
    top:4%;
    right: 10.5%;
    z-index: 1;
    display: block;
    max-width: 380px;
    margin-top: 0;

}
.DatVe .title{
    display: flex;
}
.DatVe .title .title1{
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    display: block;
    color: #ffffff;
    padding: 15px 0px 0px 9px;
    font-style: italic;
    background: linear-gradient(20.12deg, rgba(217, 26, 33, 0.8) 19.6%, rgba(111, 0, 0, 0.8) 93.86%);
    min-height: 40px;
    font-weight:bold;
    text-transform: none;
    font-size: 14px;
}
.DatVe .title .title2{
    box-sizing: border-box;
    border-radius: 5px 5px 0px 6px;
    color: #000000;
    padding: 15px 0px 0px 12px;
    font-style: italic;
    min-height: 45px;
    font-weight:bold;
    text-transform: none;
    background: linear-gradient(135deg, #FFDD00 39.58%, #E99F24 100%);
    font-size: 14px;
}
.DatVe .title .title3{
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    padding: 12px 3px 0px 12px;
    font-style: italic;
    background: linear-gradient(20.12deg, rgba(217, 26, 33, 0.8) 19.6%, rgba(111, 0, 0, 0.8) 93.86%);
    min-height: 45px;
    font-weight:bold;
    text-transform: none;
    font-size: 13.5px;
    
}
#Form1{
    font-size: 16px;
    justify-content: space-between;
    color: #ffffff;
    background: linear-gradient(30.3deg, rgba(217, 26, 33, 0.73) 33.94%, #6F0000 163.23%);
    border-radius: 0 0 5px 5px;
}
.DatVe .ChieuBay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16.5px 15px 4px 15px;
    font-weight: bold;
    color: #ffffff;
}
.DatVe .ChieuBay .VND{
    color: #ffffff;
    display: flex;
    font-size: 17px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.DatVe .ChieuBay .fa-caret-down{
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
}
.DatVe .center-box{
    display: block;
    justify-content: space-between;
    padding: 16.5px 15px;
    font-weight: bold;
    color: #ffffff;
}
.center-box .start, .center-box .finish{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-bottom: 11px;
    display: flex;
    overflow: hidden;
    background-color:#ffffff;
    border-radius: 10px;
}
.center-box .HanhKhach, .center-box .MaKM{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-bottom: 11px;
    display: flex;
    background-color:#ffffff;
    border-radius: 10px;
}
.center-box .HanhKhach select,.center-box .Di .input #SanBayDen, .center-box .Di .input #SanBayDi, .center-box .MaKM #MaKM{
    width: 100%;
    padding: 13px 35px;
    border: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
}
.center-box .Di{
    box-sizing: border-box;
    flex: 4;
}
.center-box .start .Di .fa-plane, .center-box .HanhKhach .fa-user, .center-box .MaKM .fa-ticket{
    width: 25px;
    padding: 16px 2px;
    height: 25px;
    left: 25px;
    z-index: 1;
    position: absolute;
}
.center-box .finish .Di .fa-plane{
    width: 25px;
    padding: 16px 7px;
    height: 25px;
    left: 25px;
    z-index: 1;
    position: absolute;
}
.center-box .Di .input{
    height: 48px;
    width: 100%;
    border: 0;
    margin: 0;
    padding-left: 33px;
    display: inline-flex;
    flex-direction: column;
}
.center-box .Di .input label{
    top: 14.4px;
    left: 40px;
    color: #564e4e;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0%;
}
.center-box .Di .inputBase{
    padding-left: 0%;
}
.center-box .button{
    box-sizing: border-box;
}
.center-box .button a{
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 13px;
    background-color: #ffffff;
    border-left: 2px solid #564e4e;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color:#333333;
}
.center-box .checkbox{
    width: 100%;
    height: 30px;
    display: flex;
    margin-bottom: -10px;
    font-size: 18px;
    align-items: center;
    margin-left: 15px;
}
.Tim{
    padding: 27px 0;
}
.Tim button{
    width: 50%;
    height: 45px;
    background: linear-gradient(135deg, #FFDD00 39.58%, #E99F24 100%);
    border-radius: 10px;
    display: flex;
    justify-self:center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000000;
    font-style: italic;
    min-height: 40px;
    font-weight:bold;
    border: none;
}
.imgs{
    margin-top: -7%;
    position: absolute;
    display: block;
}
.banner img{
    width: 100%;
    display: block;
    height: auto; /* Chiều cao full màn hình cho hình ảnh */
}

.chat-amy{
    display: inline-block;
    position: fixed; /* Đảm bảo ảnh luôn ở cùng một vị trí khi cuộn trang */
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    z-index: 1; /* Đặt giá trị z-index cao để nó luôn trên cùng */
}

.chat-amy .button .button-content{
    visibility: hidden;
    background-color: #ffffff;
    text-align: center;
    bottom: 55px;
    width: max-content;
    position: absolute;
    right: 95px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 15px 0px;
    color: black;

}
.chat-amy .button .button-content::after{
    position: absolute;
    top: 50%; 
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) ;
}

.chat-amy .button:hover .button-content{
    visibility: visible;
}

.chat-amy img{
    border-radius: 50%;
    border-color: #ffffff;
    position: fixed; /* Đảm bảo ảnh luôn ở cùng một vị trí khi cuộn trang */
    bottom: 60px;
    right: 30px;
    width: auto;
    height: auto;
    z-index: 1300; /* Đặt giá trị z-index cao để nó luôn trên cùng */
}
.inner-wrap{
    margin: 0;
}
.inner-wrap .img-cloud img{
    z-index: 1;
    width: 100%;
    display: block;
    height: 70vh; /* Chiều cao full màn hình cho hình ảnh */
    object-fit: cover; 
}
.inner-wrap .inner-wrap-boxYellow{
    display: block;
    padding: 3% 10% 10% 10%;
    position: absolute;
    
}
/* .inner-wrap .inner-wrap-boxYellow .boxYellow{

} */
.inner-wrap .inner-wrap-boxYellow .listboxYellow{
    display: flex;
    position: relative;
    opacity: 1;
    width: 785px;
    align-items: stretch;
    width: 157px;
    height: auto;
    gap: 90%;
    min-height: 1px;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a{
    font-weight: 600;
    width: auto;
    /* margin-bottom: 10px; */
    text-align: center;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ten{
    font-size: 16px;
    color: #ff0000;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;

}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ptext1{
    color: #ff0000;
    top: 46%;
    left: 43%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ptext2{
    color: #ff0000;
    top: 37%;
    left: 219%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ptext3{
    color: #ff0000;
    top: 37%;
    left: 394%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ptext4{
    color: #ff0000;
    top: 46%;
    left: 568%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.inner-wrap .inner-wrap-boxYellow .listboxYellow .boxYellow-item .text a .ptext5{
    color: #ff0000;
    top: 39%;
    left: 745%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.input-inner-wrap {
    margin: 0;
    width: 100%;
    padding: 20px;
    position: sticky;
}
.input-inner-wrap #Form{
    width: 100%;
    /* padding: 20px; */
    z-index: 1;
    top: 0;
    margin-top: 22%;
    position: sticky;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-inner-wrap #Form .thanhTittle{
    display: flex;
    padding-top: 5px;
}
.input-inner-wrap #Form .thanhTittle .thanhmaudolon{
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}
.input-inner-wrap #Form .thanhTittle .thanhmauvang{
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}
.input-inner-wrap #Form .thanhFooter{
    display: flex;
}
.input-inner-wrap #Form .thanhFooter .thanhmaudonho{
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}
.input-inner-wrap #Form .thanhTittle .content{
    /* float: left; */
    display: flex;
    z-index: 2;
    padding: 8px 20px;
}

.input-inner-wrap #Form .thanhTittle .content .content1{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: -5px; */
}

.input-inner-wrap #Form .thanhTittle .content .content1 a{
    
    display: block;
    color: inherit;
    margin-right: 85px;
    overflow: hidden;
    white-space: nowrap;
} 
.input-inner-wrap #Form .thanhTittle .content .content1 img{
    margin-right: 5px;
    margin-bottom: -5px;
    max-height: 19px;
}
.input-inner-wrap #Form .thanhTittle .content .content2{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.input-inner-wrap #Form .thanhTittle .content .content2 a{
    color: inherit;
    margin-right: 95px;
    overflow: hidden;
    white-space: nowrap;
} 
.input-inner-wrap #Form .thanhTittle .content .content2 img{
    margin-right: 5px;
    margin-bottom: -5px;
    max-height: 19px;
}
.input-inner-wrap #Form .thanhTittle .content .content3{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.input-inner-wrap #Form .thanhTittle .content .content3 a{
    color: inherit;
    margin-right: 85px;
    overflow: hidden;
    white-space: nowrap;
} 
.input-inner-wrap #Form .thanhTittle .content .content3 .fa-ticket{
    margin-right: 5px;
    margin-bottom: -5px;
    height: 100%;
}
.input-inner-wrap #Form .thanhTittle .content .content4{
    color: white;
    /* float: right; */
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.input-inner-wrap #Form .thanhTittle .content .content4 a{
    box-sizing: border-box;
    width: 100%;
    color: inherit;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
} 
.input-inner-wrap #Form .thanhTittle .content .content4 img{
    margin-right: 5px;
    margin-bottom: -5px;
    max-height: 19px;
}
.input-inner-wrap #Form .centerbox {
    background-color: #ffffff;
}
.input-inner-wrap #Form .centerbox .DatVe2{
    display: flex;
    padding: 16.5px 15px;
    flex-direction: row;
}

.input-inner-wrap #Form .centerbox .DatVe2 #Form2{
    box-sizing:  border-box;

}
.input-inner-wrap #Form .centerbox .DatVe2 #Form2 .ChieuBay{
    box-sizing: border-box;
    display: flex;

}

