header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.095) 100%);
    position: fixed;
    width: 100%;
    /* padding: 0 40px; */
}

header .nav-bar{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    justify-content: space-between; /* space-between hiển thị các mục flex có khoảng cách giữa các dòng */
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.095);
    position: absolute;
    z-index: 1;
}
header .nav-bar .logo{
    box-sizing: border-box;
    align-items: center; /* center căn chỉnh các mục flex vào giữa vùng chứa */
    justify-content: flex-start;  /* centertrị căn chỉnh các mục flex vào giữa vùng chứa */
    max-width: 265px;
    min-width: 84px;
    width: 100%;
    height: auto;
    
}
header .nav-bar .logo img{
    max-width: 265px;
    width: 100%;
    height: auto;
    object-fit: contain;
    justify-content: center; 
}
.header .navbar .top-right{
    
    padding: 0 40px;
    box-sizing: border-box;  
    margin-left: auto;
    margin-right: 0;
    width: calc(100% - 265px);
    flex-direction: column;
    display: flex;  
    justify-content: flex-end; /* flex-end căn chỉnh các mục flex ở cuối vùng chứa */
}
.top-right .sign-in{
    white-space: nowrap;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    padding-right: 20px;
    
}
.top-right .sign-in .hotro{
    display: inline-flex;
    gap: 8px;
}
.top-right .sign-in .hotro span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .language-switcher button {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255); /* Độ dày 2px, kiểu solid */
    border-radius: 4px;
    font-size: 10px;
    padding: 4px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
}
.top-right .sign-in .language-switcher button:hover{
    
    background-color:rgba(0, 0, 0, 0.095);
}
.top-right .sign-in .language-switcher button span{
    display: flex;
    align-items: center;
    gap : 5px;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .bar button {
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    padding: 10px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
}
header .navbar .top-right .menu{
    display: flex;
    margin-right: 0;
    padding-right: 0;
}
.menu ul{
    display: flex;
    gap: 10x;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    transition: 0.53s;
    
}
.menu ul li{
    display: block;
    min-height: 20px;
    gap: 5px;
    padding: 4px 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .35s;
    text-overflow: ellipsis;
    font-weight: 600;
    display:block;
    padding: 10px;
    
}
header .menu a:hover{
    background-color: white;
    color: red;
    border-radius: 10px;
}
header{
    position: relative;
}
.banner img{
    width: 100%;
    display: block;
    height: auto; /* Chiều cao full màn hình cho hình ảnh */
}
.DatVe{
    position: absolute;
    top: 10%;
    right: 4%;
    z-index: 1;
    display: block;
    background-color: rgb(255, 0, 0);
}
.img-cloud img{
    width: 100%;
    height: 15%;
    position: absolute;
    object-fit: cover;
    top: 13.5%;
    object-position: 50% 100%;  /* thuộc tính này để định vị hình ảnh */

}
.chat-amy{
    display: inline-block;
    position: fixed; /* Đảm bảo ảnh luôn ở cùng một vị trí khi cuộn trang */
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    z-index: 1; /* Đặt giá trị z-index cao để nó luôn trên cùng */
}
/* .chat-amy .button{
    background-color: #ffffff;
    bottom: 25%;
    width: max-content;
    position: absolute;
    right: 110%;
    padding: 5px 10px;
    border-radius: 15px 0px;
    color: black;
} */
.chat-amy .button .button-content{
    visibility: hidden;
    background-color: #ffffff;
    text-align: center;
    bottom: 55px;
    width: max-content;
    position: absolute;
    right: 95px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 15px 0px;
    color: black;

}
.chat-amy .button .button-content::after{
    position: absolute;
    top: 50%; 
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) ;
}

.chat-amy .button:hover .button-content{
    visibility: visible;
}

.chat-amy img{
    border-radius: 50%;
    border-color: #ffffff;
    position: fixed; /* Đảm bảo ảnh luôn ở cùng một vị trí khi cuộn trang */
    bottom: 60px;
    right: 30px;
    width: auto;
    height: auto;
    z-index: 1300; /* Đặt giá trị z-index cao để nó luôn trên cùng */
}

  