.inner-wrap {
    position: relative;
    width: 100%;
    justify-items: center;
    justify-content: center;
}
.img-cloud{
    width: 100%;
    height: 80vh;
}
.img-cloud img {
    width: 100%;
    height : 100%;
    object-fit: cover;
}
.inner-wrap-boxYellow {
    margin-top: -480px;
    max-width: 855px;
    width: 100%;
}
.boxYellow{
    max-width: 100%;
    align-items: center;
    overflow: hidden;
    padding: 10px; 
}
.listboxYellow {
    display: flex; 
    justify-content: space-between;  
    width: 100%;
}
.boxYellow-img{
    max-width: 130px;
    object-fit: contain;
}
.boxYellow-img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.boxYellow-content{
    color: #ff0000;
    max-width: fit-content;
    width: 100%;
}
.ten {
    font-size: 16px;
    color: #ff0000;
    font-weight: 600;
    text-align: center;

}
.black-text{
    color: var(--fifth-color);
}
.ptext{
    text-align: center;
    margin-top: -115px;
    margin-bottom: 45px;
    padding: 0 20px;
    color: #ff0000;
    font-weight: 600;
}
.vnd-boxYellow{
    font-size: 14px;font-weight: 500; color:var(--fifth-color); font-style: italic;
}
