body{
    background-image: url('../img/dammayhong.jpg');
    background-size: cover;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    gap: 50px;
    width: 100%;
    margin-bottom: 100px;
}
.center-box{
    width: 79%;
    height: 100vh;
    margin-top: 150px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 30px;
}
.signup-box{
    margin-right: 40%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    padding: 78px 50px 20px 15px;
}
.head{
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}
.first-name, .second-name, .id, .number, .date, .ns, .input-date {
    display: inline-block;
}
.first-name {
    margin-left: 65px;
}
.second-name {
    margin-left: 8px;
}
.ho {
    padding: 7px 67px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
}
.ho-error-message, .ten-error-message {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: 7px;
}
.ten {
    padding: 7px 80px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
}
.note {
    font-size: 12px;
    margin: 2px 70px 20px 65px;
    color: rgb(40, 106, 236);
}
.id {
    margin-left: 65px;
}
.mavung {
    padding: 6px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}
.number-box {
    width: 160px;
    padding: 8px 0px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
}
.date{
    margin-left: 10px;
}
.date-box{
    width: 166px;
    padding: 8px 23px 8px 20px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
}

.text{
    font-size: 12px;
    margin-left: 65px;
    margin-right: 57px;
    background-color: rgb(250, 235, 198);
    color: rgb(192, 62, 62);
    padding: 5px 5px 3px 5px;
}
.mail-box{
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;
}
.gioithieu {
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;
}
.last-note{
    font-size: 9px;
    margin-left: 65px;
    margin-top: 3px;
    font-weight: 500;
}
.button-dangky{
    text-align: center;
    align-items: center;
    margin-top: 5px;
}
.button{
    padding: 10px 85px 10px 85px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242, 242, 242);
    font-weight: bold;
    font-style: italic;
    color: rgb(222, 222, 222);
    pointer-events: none;
}
.button.active {
    background-color: yellow; /* Màu khi hợp lệ */
    color: black;
    pointer-events: auto;
    cursor: pointer;
}
.ho::placeholder, 
.ten::placeholder, 
.mail-box::placeholder, 
.gioithieu::placeholder, 
.number-box::placeholder{
    font-size: 14px;
    color: black;
}
.question{
    position: absolute;
    top: 75%;
    width: 55%;
}
.first-ques{
    margin-top: 20px;
    text-align: center;
}
.icon{
    display: inline-block;
}
.ques1{
    display: inline-block;
    color:rgb(86, 86, 241);
    text-decoration: underline;
    font-size: 15px;
    margin-left: -5px;
}
.second-ques{
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
}
.signin-button{
    margin-top: 15px;
    text-align: center;
}
.si-button{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(226, 199, 22);
}
.img-box{
    margin-left: 60%;
    position: absolute;
    height: 100vh;
}
.main-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* khung hiển thị */
.sj-con{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
} 
.main-content{
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    width: 68%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.close-button{
    position: absolute;
    top: 37%;
    right: 17%;
    font-size: 30px;
    cursor: pointer;
}
h3{
    text-align: center;
}
.para{
    text-align: left;
    margin-top: 15px;
    font-size: 16px;
}
/* thông báo lỗi */
.error-message, .mail-error-message {
    position: absolute;
    color: red; 
    margin-top: 5px; 
    font-size: 12px;
}
  

