.nav{
    margin-top: 100px;
    height: auto;
    width: 77%;
}
.separator {
    color: gray; 
    font-size: 14px; 
    margin: 0 5px; 
    font-weight: bold;
}
.esim-heading, .table, .second-table{
    margin-top: 20px;
    height: auto;
    width: 77%;
}
.table, .second-table{
    background-color: white;
    padding: 20px 30px 20px 20px;
    width: 80%;
    height: 108vh;
    margin-left: 28px;
    border-radius: 7px;
}
.second-table{
    margin-left: 11%;
}
.heading-bar, .head-bar{
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.continue, .separator{
    display: inline-block;
}
.back{
    margin-right: 50px;
}
.back, .copyright2{
    display: inline-block;
    vertical-align: calc();
}
.copyright2{
    width: 28%;
    height: auto;
    margin-left: 53%;
    padding-left: 60px;
    padding-right: 40px;
}
.continue{
    font-weight: bold;
    margin-left: 10px;
    color: rgb(179, 156, 6);
}
.line{
    height: 0.5px;
    width: 100%;
    background-color: rgb(229, 226, 226);
    margin-top: 20px;
}
.h1{
    margin-left: 20px;
    margin-top: 50px;
}
.center-content{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
h3{
    margin-top: 20px;
}
.para{
    margin-top: 15px;
}
.esim-button{
    margin-top: 15px;
    padding: 15px 140px 10px 140px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 179, 0);
    font-weight: bold;
}
.lienhe{
    margin-top: 20%;
    text-align: center;
    align-items: center;
}
.search-box{
    width: 63%;
    display: block;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0px 15px 5px;
    border: 1px solid rgb(230, 226, 226);
}
.search-box:hover{
    border: 1px solid black;
}
.search-box input[type="text"] {
    width: 85%;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}
.search-box [type="text"]::placeholder{
    color: rgb(201, 196, 196);
}
.search-box, .copyright {
    display: inline-block;
    vertical-align: calc();
}
.copyright{
    margin-left: 160px;
}
.vehicle-line {
    width: 1.5px; 
    height: 20px; 
    background-color: rgb(203, 200, 200); 
    margin-left: 5px;
    margin-right: 5px;
}
.ppb, .skyfi, .skyjoy, .vehicle-line{
    display: inline-block;
    vertical-align: top;
}
.skyfi img, .skyjoy img {
    height: 20px;
    width: 100%;
}
.tab-bar{
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
}
.list-button, .shopping, .tab-button, .symbol, .giohang{
    display: inline-block;
}
.tab-button{
    padding: 20px 10px;
    border: none;
    color: rgb(186, 178, 178);
    background-color: white;
    margin-right: 40px;
    position: relative; 
    cursor: pointer;
    transition: color 0.3s ease;
}
.tab-button.active{
    color: rgb(216, 137, 19);
    border-bottom: 3px solid rgb(216, 137, 19);
}
.shopping{
    margin-left: 560px;
    height: auto;
}
.shopping:hover{
    color: rgb(255, 208, 0)
}
.giohang-button{
    cursor: pointer;
}
.giohang{
    font-size: 18px;
    margin-left: 10px;
}
.scrollable-content1 {
    width: 100%; 
    height: 80%; 
    background-color: #f0f0f0;
    overflow-y: auto;
}
.content-box{
    padding: 20px;
    width: 100%;
    height: 110vh;
    border-top: 1px solid rgb(211, 210, 210);
    background-color: rgb(243, 242, 242);
    display: block;
}
.tab-content{
    display: none;
    margin-top: 17px;
}
.tab-content.active{
    display: block;
    background-color:rgb(243, 242, 242);
}
h1{
    margin-top: 20px;
}

/* display-div */
.dp{
    width: 77%;
    height: 103vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: none; 
    position: absolute;
    top: 108%;
    z-index: 1;
}
.display-div{
    background-color: white;
    padding: 20px 50px 20px 20px;
    width: 46%;
    height: 95vh;
    margin-left: 28px;
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 25%;
    z-index: 3;
}
.main-display-div{
    width: 100%;
    height: auto;
    margin-left: 20px;
}
h4{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;

}
.display-para{
    margin-top: 10px;
    font-size: 15px;
}
.search-bar{
    width: 98%;
    height: auto;
    margin-top: 20px;
    padding: 3px;
    border: 1px solid rgb(221, 210, 210);
    border-radius: 10px;
    display: flex;
}
.search-bar input[type="text"]{
    width: 85%;
    height: auto;
    padding: 10px 30px 10px 10px;
    border: none;
    outline: none;
    display: inline-block;
}
.main-content-display{
    width: 100%;
    height: 63vh;
}
.name-title, .triangle-outline{
    display: inline-block;
}
.main-select{
    width: 99%;
    display: flex;
}
.name-title{
    font-weight: bold;
    font-size: 14px;
}
.svg{
    margin-left: auto;
}
.endline{
    width: 99%;
    height: 0.5px;
    background-color: rgb(224, 224, 224);
    margin-top: 10px;
    margin-bottom: 5px;
}
.scrollable-content {
    width: 98%; 
    height: 80%; 
    background-color: white;
    overflow-y: auto;
    margin-top: 25px;
}
/* Chiều rộng của thanh cuộn */
.scrollable-content::-webkit-scrollbar {
    width: 6px; 
}
/* Màu và kiểu dáng của thanh cuộn */
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.quocgia-grid{
    padding-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 8px; */
    column-gap: 1.5rem;
    row-gap: 1.25rem;
}
.quocgia-grid .quocgia-card{
    position: relative;
    width: 100%;
    height: 66.75;
    padding:18px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    img{
        width: 41px;
        height:30.75px;
        margin-right: 5px;
    }
    .khungMuiTen{
        margin-right: 18px;
        position:absolute;
        right:0;
        img{
            width: 10px;
            height: auto;
            margin: 0;
        }
        cursor: pointer;
    }
    
}
.quocgia-grid .quocgia-card .khung-content{
    width: 100%;
    height: auto;
   
}
.esimToanCau-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: ;
    row-gap: ;

}
.esimToanCau-grid .esimToanCau-card{
    height:346.8px;
    background-color: white;
    border-radius: 8px;
    img{
        width: 100%;
        height: 70px;
        border-radius: 8px;
    }
    .content-area{
       padding:0 16px;
       width: 100%;
       height:212px;
       .content-row{
        display: flex;
        position: relative;
        width: 100%;
        height:40px;
        padding: 8px 0px;
        .tieude{
            color: #333333;
        }
        .giatri{
            position: absolute;
            right:0;
            color:#333333;
            font-weight: bold;
        }
       }
    }
}

