.bg-img{
    margin-top: 60px;
}
.bg-cloud{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background: none;
}
.bg-cloud img{
    margin-top: -8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.bg-blur{
    margin: -10px;
    padding: 20px 114px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 100%);
}
/* Tin tuc va uu dai */
.bg-blur2{
    margin: -10px;
    padding: 20px 44px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.001) 100%);
}
.prize-item{
    margin-top :-60px ;
    padding:0 3px;
    width: 200px;
    height: auto;
    text-align: center;
}
.prize-item img{
    height: 70px;
    margin-bottom: 5px;
}
.prize-item p{
    font-size: 14px;
    font-weight: 500;
}
.text-item{
    min-width: 200px;
    font-size: 14px;
}
.text-item h3, .text-item a{
    padding: 5px 0;
    color: var(--fifth-color);
}
.text-item a:hover{
    color: var(--primary-color);
}
.text-item img{
    padding-right: 5px;
}

/* Thong tin start */
.contact,  .instructions{
    font-size: 14px; 
    padding-right: 20px;
}
.contact h4, .instructions h4, address h4{
    padding: 5px 0;
}
.address{
    max-width: 300px;
    font-size: 12px;
}
.img-contact{
    width: 26px;
}
.img-contact img{
    width: 100%;
    height: auto;
}
.img-download-app{
    width: 101px;
    gap: 10px;
}
.img-download-app img{
    width: 100%;
    height: auto;
}
.img-dathongbao{
    width: 112px;
}
.img-dathongbao img{
    width: 100%;
    height: auto;
}
.img-instruction{
    width: 30px;
    padding-right: 10px;
}
.img-instruction img{
    width: 100%;
    height: auto;
}

.flex-content{
    display: flex;
    gap: 5px;
}
.hover h4{
    font-style: italic;
    color: var(--fifth-color);
}
.hover h4:hover{
    color: var(--primary-color);
}

