.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    gap: 50px;
    width: 100%;
    margin-bottom: 100px;
}
.center-box{
    width: 79%;
    height: 100vh;
    margin-top: 150px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 30px;
}
.signup-box{
    margin-right: 40%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    padding: 78px 50px 130px 15px;
}
.head{
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}
.ho, .ten, .id, .number, .date, .ns, .input-date {
    display: inline-block;
}
.ho {
    margin-left: 65px;
}
.ten {
    margin-left: 8px;
}
#ho {
    padding: 7px 67px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
#ten {
    padding: 7px 80px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
.note {
    font-size: 12px;
    margin: 2px 70px 20px 65px;
    color: rgb(128, 128, 242);
}
.id {
    margin-left: 65px;
}
.mavung {
    padding: 6px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
#number {
    padding: 8px 0px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
#date{
    padding: 8px 23px 8px 20px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
.text{
    font-size: 12px;
    margin-left: 65px;
    margin-right: 57px;
    background-color: rgb(244, 244, 172);
    color: rgb(192, 62, 62);
    padding: 5px 5px 3px 5px;
}
.mail-box{
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
.gioithieu {
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;
    box-shadow: 3px 3px 10px rgba(94, 93, 93, 0.3);
}
.last-note{
    font-size: 9px;
    margin-left: 65px;
    margin-top: 3px
}
.button-dangky{
    text-align: center;
    align-items: center;
    margin-top: 5px;
}
.button{
    padding: 10px 85px 10px 85px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242, 242, 242);
    font-weight: bold;
    font-style: italic;
    color: rgb(222, 222, 222)
}
#ho::placeholder{
    font-size: 14px;
    color: black;
}
#ten::placeholder{
    font-size: 14px;
    color: black;
}
.mail-box::placeholder{
    font-size: 14px;
    color: black;
}
.gioithieu::placeholder{
    font-size: 14px;
    color: black;
}
#number::placeholder{
    font-size: 14px;
    color: black;
}

.first-ques{
    align-items: center;
    margin-left: 210px;
    margin-top: 20px
}
.icon{
    display: inline-block;
}
.ques1{
    display: inline-block;
    color:rgb(86, 86, 241);
    text-decoration: underline;
    font-size: 15px;
    margin-left: -5px;
}
.second-ques{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 250px;
}
.signin-button{
    margin-top: 20px;
    margin-left: 215px;
}
.si-button{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(226, 199, 22);
}
.img-box{
    margin-left: 60%;
    position: absolute;
    height: 100vh;
}
.main-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
