.calendar {
    display: none; /* Ẩn lịch ban đầu */
    border-radius: 8px;
    left: 18%;
    top: 100%;
    padding: 30px;
    position: absolute; 
    z-index: 13;
    background: var(--third-color);
}

.header-calender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.days {
    display: grid;   
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}
.day, .empty {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.day:hover {
    border: 1px solid var(--primary-color);
}
.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
.empty {
    background-color: #f9f9f9;
}
.select-start-date, .select-end-date {
    display: inline-block;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    position: relative; 
}
