
.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.095) 100%);
    position: fixed;
    width: 100%;
    /* padding: 0 40px; */
}

.header .nav-bar{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    justify-content: space-between; /* space-between hiển thị các mục flex có khoảng cách giữa các dòng */
    align-items: center;
    width: 100%;
    background-color: rgba(196, 12, 12, 0.916);
    position: absolute;
    z-index: 1;
    padding: 0%;
    height: 80px;
}
.header .nav-bar .logo{
    box-sizing: border-box;
    align-items: center; /* center căn chỉnh các mục flex vào giữa vùng chứa */
    justify-content: flex-start;  /* centertrị căn chỉnh các mục flex vào giữa vùng chứa */
    max-width: 265px;
    min-width: 84px;
    width: 100%;
    height: auto;
    
}
.header .nav-bar .logo img{
    max-width: 265px;
    width: 100%;
    height: auto;
    object-fit: contain;
    justify-content: center; 
    margin-left: 60%;
}
.header .navbar .top-right{
    padding: 0 40px;
    box-sizing: border-box;  
    margin-left: auto;
    width: calc(100% - 265px);
    flex-direction: column;
    display: flex;  
    justify-content: flex-end; /* flex-end căn chỉnh các mục flex ở cuối vùng chứa */
}
.top-right .sign-in{
    white-space: nowrap;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    padding-right: 10px;
    position: relative;
    margin-top: 20px;
}
.top-right .sign-in .hotro{
    display: inline-flex;
    gap: 8px;
}
.top-right .sign-in .hotro span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .language-switcher button {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255); /* Độ dày 2px, kiểu solid */
    border-radius: 4px;
    font-size: 15px;
    padding: 1px 7px 0px 7px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
    margin-right: 170px;
}
.top-right .sign-in .language-switcher button:hover{
    
    background-color:rgba(0, 0, 0, 0.095);
}
.top-right .sign-in .language-switcher button span{
    display: flex;
    align-items: center;
    gap : 5px;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
.top-right .sign-in .bar button {
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    padding: 10px;
    /* background: none; */
    background-color: transparent; /* làm cho màu nền trong suốt cho một phần tử. tương đương với rgba(0,0,0,0)*/
}
header .navbar .top-right .menu{
    display: flex;
    margin-right: 0;
    padding-right: 0;
    position: relative;
    margin-top: 0%;

}
.menu ul{
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    transition: 0.53s;
    margin-top: 0px;
    margin-right: 140px;
    
}
.menu ul li{
    display: block;
    min-height: 20px;
    padding: 4px 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    justify-content: space-between;
    font-size: 15px;
}
.header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .35s;
    text-overflow: ellipsis;
    font-weight: 600;
    display:block;
    padding: 10px;
    
}
.header .menu a:hover{
    background-color: white;
    color: red;
    border-radius: 10px;
}
.header{
    position:absolute;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    width: 100%;
}
.center-box{
    width: 79%;
    height: 100vh;
    margin-top: 281px;
    justify-content: center;
    background-color: rgb(241, 236, 236);
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 30px;
}

.signup-box{
    margin-right: 40%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    padding: 78px 50px 150px 15px;
    
}
.head{
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}
.ho, .ten, .id, .number, .date, .ns, .input-date {
    display: inline-block;
}
.ho {
    margin-left: 65px;
}
.ten {
    margin-left: 8px;
}
#ho {
    padding: 7px 67px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
}
#ten {
    padding: 7px 80px 7px 7px;
    border-radius: 3px;
    border: none;
    position: relative;
}
.note {
    font-size: 11px;
    margin: 5px 70px 20px 65px;
    color: rgb(128, 128, 242);
}
.id {
    margin-left: 65px;
}
.mavung {
    padding: 6px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}
#number {
    padding: 8px 0px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
}
#date{
    padding: 8px 23px 8px 20px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
}
.text{
    font-size: 11px;
    margin-left: 65px;
    margin-right: 57px;
    background-color: rgb(244, 244, 172);
    color: rgb(192, 62, 62);
    padding: 5px 5px 3px 5px;
}
.mail-box{
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;
}
.gioithieu {
    padding: 8px 327px 8px 8px;
    border-radius: 3px;
    border: none;
    margin-top: 7px;
    margin-left: 65px;

}
.last-note{
    font-size: 9px;
    margin-left: 65px;
    margin-top: 3px
}
.button-dangky{
    text-align: center;
    align-items: center;
    margin-top: 5px;
}
.button{
    padding: 10px 85px 10px 85px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242, 242, 242);
    font-weight: bold;
    font-style: italic;
    color: rgb(222, 222, 222)
}
.img-box{
    top:0;
    left:0;
    margin-left: 58%;
    position: absolute;
    height: 100vh;
    margin-top: 141px;
}
.main-img{
    height: 100vh;
    width: 479px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.first-ques{
    align-items: center;
    margin-left: 210px;
    margin-top: 20px
}
.icon{
    display: inline-block;
}
.ques1{
    display: inline-block;
    color:rgb(148, 148, 244);
    text-decoration: underline;
    font-size: 15px;
    margin-left: -5px;
}
.second-ques{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 250px;
}
.signin-button{
    margin-top: 20px;
    margin-left: 215px;
}
.si-button{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(226, 199, 22);
}