.banner{
    width: 100%;
    height: auto;
}
.banner img{
    width: 100%;
    height: auto;
}
.main-box{
    display: flex;
    width: 82%;
    height: auto;
    background-color: white;
    padding: 120px 40px 170px 30px;
    margin-top: -5px;
}

.main-box-content{
    width: 75%;
    height: auto;
    padding:0px 20px 0 10px
}
.leftcolum{
    width: 25%;
    height: auto;
    /* border-left: solid; */
    border-left-style: solid;
    border-left-color: #ccc;
    border-left-width: 1px;
}
h1{
    font-size: 36px;
    color: red;
}
.pre-heading1{
    /* margin-top: 40px; */
}
.p-heading1{
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}
.pre-heading-content1{
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 27px;
}
.p-heading-content-title1{
    font-weight: bold;
    font-size: 16px;
    
}
#notbold{
    font-weight: normal;
    font-size: 16px;
}
.content-pre-heading-title1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.list{
    /* margin-left: 35px; */
    line-height: 27px;
    font-size: 16px;
}
.intro{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}
.link{
    color: rgb(106, 36, 246);
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}
.end{
    margin-top: 40px;
}
.line{
    display: inline-block;
    width: 93%;
    height: 0.5px;
    background-color: rgb(213, 210, 210);
}
.fb-img, .twit-img{
    display: inline-block;
    margin-left: auto;
    vertical-align: middle;
}
table {
    margin-top: 4%;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffecec;
    line-height: 2;
    
}
th, td {
    padding: 12px;
    border: 1px solid #ffffff;
    text-align: left;
    font-weight: bold;
}
#td1{
    text-align: center;
    justify-items: center;
    width: 25%;
    font-weight: bold;
}
th {
    background-color: #b30000;
    color: white;
    text-align: center;
    justify-items: center;
    font-weight: bold;
}
td {
    color: #333;
    font-weight: bold;
}
#col1{
    width: 25%;
}
#col2{
    width:50% ;
    font-weight: bold;
}