.banner{
    position: relative;
    max-width: 100%;
    margin: auto;
}
.banner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
@media (min-width: 1024px) {
    .bg-img .img-cloud {
        background: transparent;
        margin-bottom: 0;
    }
}
.bg-img .img-cloud{
    min-height: 25px;
    z-index: 1;
    position: relative;
    display: flex;
    padding-left: 0px;
    margin-bottom: -40px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-end;
}
@media (min-width: 1024px) {
    .img-cloud img{
        top: calc(-6vw + 2px);
        left: -1%;
        width: 102%;
        height: 6vw;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }
}

/* CONTENT START */

.noidung{
    font-size: 16px;
    margin: auto;
    background-size: cover;  
    background-image: url(../img/bgBannerHomePage.72a61446.webp) ;
}
.center-box{
    margin: auto;
    max-width: 1200px;
}
.wrap{
    height: 100%;
    box-shadow: 0px 3px 12px 0px rgba(0, 31, 62, 0.12);
    border-radius: 8px;
}
.thanh-do {
    color: #FFF;
    padding: 14px 12px;
    position: relative;
    font-size: 16px;
    background: linear-gradient(359.56deg, #D91A21 53.08%, #6F0000 206.46%);
    text-align: left;
    font-weight: 700;
    line-height: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.inner-thanhdo {
    gap: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
}
.bg-yellow {
    top: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
    border-top-right-radius: 8px;
}
.bg-white {
    padding: 20px 30px;
    background: #FFF;
    border-radius: 0 0 8px 8px;
}
.content * {
    font-size: 14px;
}
@media (min-width: 1024px) {
    .thanh-do {
        padding: 12px 24px;
        font-size: 20px;
        font-family: KoHo;
    }
    .content * {
        font-size: 16px;
    }
    .wrap2 {
        margin: 32px 0;
    }

}

.wrap2 {
    margin: 16px 0;
    overflow: hidden;
    position: relative;
    background: #FFF;
    min-height: 320px;
    border-radius: 8px;
}
.inner-wrap {
    padding: 10px 20px;
    background: #FFF;
    border-radius: 8px;
}
.frame{
    border: 1px solid #cfc3c3;
    border-radius: 5px;
    padding:10px 20px;
}
.fisrt-content{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.fisrt-content span{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.fisrt-content img{
    margin-right: 10px;
    width: 20px;
    height: auto;
    object-fit: cover;
}
.arow-down{
    margin-left: 10px;
}
.wrap3 {
    height: 100%;
    padding: 20px 30px;
    background: #FFF;
    box-shadow: 0px 3px 12px 0px rgba(0, 31, 62, 0.12);
    border-radius: 8px;
    position: relative;
    z-index: 2;
}
.input{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.input .frame{
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    width: 180px;
    height: 48px;
}
.link{
    color: #000000;
    text-decoration:underline;
    font-size: 20px;
    font-weight: 700;
}

.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}
button{
    padding: 13px 20px;
    background: #1b1a1a;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background: #194bb8;
}
/* CONTENT END */

/* FOOTER START */
.bg-img{
    background-image: url('../image/background/bg-donate.40a2c077.webp');
    width: 100%;
    margin-top: -12%;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
}
/* Thong tin start */
.contact,  .instructions{
    font-size: 14px; 
    padding-right: 20px;
    max-width: 100%;
}
.contact h4, .instructions h4, address h4{
    padding: 5px 0;
}
.address{
    max-width: 300px;
    font-size: 12px;
}
.img-contact{
    width: 26px;
}
.img-contact img{
    width: 100%;
    height: auto;
}
.img-download-app{
    width: 101px;
    gap: 10px;
}
.img-download-app img{
    width: 100%;
    height: auto;
}
.img-dathongbao{
    width: 112px;
}
.img-dathongbao img{
    width: 100%;
    height: auto;
}
.img-instruction{
    width: 30px;
    padding-right: 10px;
}
.img-instruction img{
    width: 100%;
    height: auto;
}

.flex-content{
    display: flex;
    gap: 5px;
}
.hover h4{
    font-style: italic;
    color: var(--fifth-color);
}
.hover h4:hover{
    color: var(--primary-color);
}

.prize-item{
margin-top :-60px ;
padding:0 3px;
width: 100%;
max-width: 200px;
height: auto;
text-align: center;

}
.prize-item .img{
height: 70px;
width: 100%;
margin-bottom: 5px;
}
.prize-item .img img{
width: auto;
height: 100%;
}
.prize-item p{
font-size: 14px;
font-weight: 500;
}
.text-item{
min-width: 200px;
font-size: 14px;
}
.text-item h3, .text-item a{
padding: 5px 0;
color: var(--fifth-color);
}
.text-item a:hover{
color: var(--primary-color);
}
.text-item img{
padding-right: 5px;
}

/* Thong tin end */

.img-cloud img{
    top: -114px;
    left: 0;
    width: 100%;
    height: 114px;
}
.bg-blur{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(248, 227, 241, 0.569) 100%);
    /* background: #FFF; */
}
.bg-blur2{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(248, 227, 241, 0.569) 0%, rgba(255, 255, 255, 1) 70%);
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;   
}

/* FOOTER END */